asgiref
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-environ
django-humanize
EasyProcess
entrypoint2
humanize
MouseInfo
mss
Pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
typing_extensions
tzdata